body {
    height: 96vh;
    background-image: url(../imagens/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}


    


   

    

